{% for class in sub_classes %}
    @property
    def {{ class.filename.lower() }}(self):
        """Returns {{ class.name }} object"""
        return {{ class.name }}(base_url=self._base_url, session=self._session, cid=self._customer_id)

{% endfor %}
